@import "./info";
@import "./floor";

#content-main {
    display: block;
    width: 100%;
    height: calc(100vh - 54px);
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;

    // Zoom out
    #zoom-out {
        display: flex;
        width: 46px;
        height: 134px;
        position: absolute;
        top: 12px;
        right: 12px;
        z-index: 3;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(225, 230, 249, 0.6);
        cursor: pointer;
        
        @include respond(phone) {
            z-index: 2;
        }
    }

    // Button add
    #button-add {
        width: 50px;
        height: 50px;
        position: absolute;
        right: 20px;
        bottom: 20px;
        z-index: 3;
        font-size: 40px;
        text-align: center;
        line-height: 40px;
        color: #fff;
        border-radius: 50%;
        background-color: $primary_bg;
        cursor: pointer;
    
        @include respond(phone) {
            width: 46px;
            height: 46px;
            font-size: 32px;
            z-index: 2;
        }
    }

    // Edit
    .container-edit {
        display: block;
        width: 25%;
        min-width: 300px;
        height: 100%;
        position: absolute;
        z-index: 2;
        top: 0;
        background-color: #fff;
        overflow: scroll;
        overflow-x: hidden;

        @include respond(phone) {
            width: 100vw;
            min-width: 280px;
            z-index: 4;
        }

        .edit-header {
            display: flex;
            justify-content: space-between;
            margin: 16px 10px 0;
            text-decoration: underline;
            cursor: pointer;
        }

        .edit-name {
            text-align: center;
            margin-top: 26px;
            font-size: 25px;
            color: $primary_text;
        }

        .reserv-id {
            text-align: center;
            margin-top: 10px;
            font-size: 14px;
            font-weight: 400;
            color: #506690;
        }

        .phone-viewprofile {
            display: flex;
            justify-content: space-between;
            margin: 10px 50px 0;
            font-size: 14px;
            font-weight: 400;
            color: #506690;
        }

        .edit-stt {
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(100% - 40px);
            height: 39px;
            margin: 20px;

            .stt-text {
                font-size: 15px;
                font-weight: 600;
                margin: 0 10px;
            }
        }

        .edit-select {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 20px 20px;

            .datePickerEdit {
                position: relative;
        
                .custom-time-edit {
                    display: flex;
                    width: 141px;
                    height: 37px;
                    justify-content: space-around;
                    align-items: center;
                    font-size: 15px;
                    color: $primary_text;
                    background-color: #fff;
                    border: 1px solid rgba(0, 40, 100, 0.12);
                    background-color: #000;
                    
                }
            }

            .select-element {
                width: 141px;
                height: 37px;
                padding: 0 10px;
                color: $primary_text;
                border: solid 1px #ccc;
                background-color: #fff;
                cursor: pointer;

                &:disabled {
                    background-color: #ccc;
                }
            }

            .container-occasion {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .container-element-occasion {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    .Occasion-element {
                        display: inline-block;
                        width: 48%;
                        height: 38px;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 38px;
                        padding-left: 12px;
                        border: solid 1px #ccc;
                        border-radius: 4px;
                        cursor: pointer;
                    }
                }
            }
            
            .edit-input {
                width: 100%;
                min-height: 50px;
                max-height: 100px;
                color: $primary_text;
                border: solid 1px #ccc;
                border-radius: 4px;
                margin-top: 10px;
                resize: none;

                &:disabled {
                    background-color: #ccc;
                }
            }

            .edit-note {
                font-size: 12px;
                font-weight: 400;
                color: $primary_text;
            }
        }

        #warning-edit {
            width: calc(100% - 36px);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FFEEEB;
            padding: 4px;
            margin: 0 16px 20px;

            #warning-noti {
                font-size: 12px;
                font-weight: 600;
                color: #DF4759;
                margin-left: 8px;
            }
        }

        .edit-notify {
            margin: 0 20px 20px;

            .notify-name {
                font-size: 16px;
                font-weight: 700;
                color: $primary_text;
                margin-bottom: 20px;
            }

            .container-radio {
                display: block;
                position: relative;
                padding-left: 25px;
                margin-bottom: 12px;
                cursor: pointer;
                font-size: 15px;
                font-weight: 600;
                color: #2F3C5E;
                margin-bottom: 20px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                /* Hide the browser's default radio button */
                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;

                    /* When the radio button is checked, add a blue background */
                    &:checked ~ .checkmark {
                        background-color: $primary_bg;
                    }

                    /* Show the indicator (dot/circle) when checked */
                    &:checked ~ .checkmark:after {
                        display: block;
                    }
                }

                /* Create a custom radio button */
                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 15px;
                    width: 15px;
                    background-color: #eee;
                    border-radius: 50%;
            
                    /* Create the indicator (the dot/circle - hidden when not checked) */
                    &:after {
                        content: "";
                        position: absolute;
                        display: none;
                    }

                /* Style the indicator (dot/circle) */
                    &:after {
                        top: 4px;
                        left: 4px;
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        background: white;
                    }
                }

                /* On mouse-over, add a grey background color */
                &:hover input ~ .checkmark {
                    background-color: #ccc;
                }
            }

            .container-checkbox {
                display: block;
                position: relative;
                font-size: 15px;
                font-weight: 600;
                color: #2F3C5E;
                padding-left: 25px;
                margin-bottom: 25px;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                /* On mouse-over, add a grey background color */
                &:hover input ~ .checkmark {
                    background-color: #ccc;
                }

                /* Hide the browser's default checkbox */
                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;

                    /* When the checkbox is checked, add a blue background */
                    &:checked ~ .checkmark {
                        background-color: $primary_bg;
                    }

                    /* Show the checkmark when checked */
                    &:checked ~ .checkmark:after {
                        display: block;
                    }
                }

                /* Create a custom checkbox */
                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 15px;
                    width: 15px;
                    background-color: #eee;
                
                    /* Create the checkmark/indicator (hidden when not checked) */
                    &:after {
                        content: "";
                        position: absolute;
                        display: none;
                    }

                    /* Style the checkmark/indicator */
                    &:after {
                        left: 5px;
                        top: 2px;
                        width: 2px;
                        height: 5px;
                        border: solid white;
                        border-width: 0 3px 3px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                }
            }  
        }

        .cancel-reserv-btn {
            width: calc(100% - 40px);
            height: 38px;
            color: #fff;
            background-color: #DF4759;
            border-style: none;
            border-radius: 4px;
            margin: 10px 20px 30px;
            cursor: pointer;
        }
    
        #modal-cancel {
            position: fixed;
            top: 168px;
            left: 0;
            right: 0;
            align-items: center;
            justify-content: center;
            display: flex;
            z-index: 5;

            #modal-cancel-container {
                background-color: #fff;
                width: 480px;
                height: 238px;
                max-width: calc(100% - 50px);
                min-height: 200px;
                position: relative;
                border: solid 1px $primary_bg;
                animation: modalFadeIn ease 0.5s;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;

                @keyframes modalFadeIn {
                    from {
                        opacity: 0;
                        transform: translateY(-150px);
                    }
                    to {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }

                #title-modal-cancel {
                    font-size: 27px;
                    font-weight: 700;
                    color: $primary_text;   

                    @include respond(phone) {
                        font-size: 20px;
                    }
                }

                #for-modal-cancel {
                    font-size: 18px;
                    font-weight: 400;
                    color: $primary_text;   
                }

                #button-container {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    
                    #not-now-btn {
                        width: 215px;
                        height: 38px;
                        color: $primary_text;
                        background-color: #D9E2EF;
                        font-weight: 600;
                        border-style: none;
                        margin-right: 10px;
                        cursor: pointer;

                        @include respond(phone) {
                            width: 45%;
                            margin-right: 0;
                        }
                    }

                    #cancel-btn {
                        width: 215px;
                        height: 38px;
                        color: #fff;
                        background-color: #DF4759;
                        font-weight: 600;
                        border-style: none;
                        cursor: pointer;

                        @include respond(phone) {
                            width: 45%;
                        }
                    }
                }
            }
        }
    }
}