#container-floor {
    display: inline-block;
    width: 100vw;
    height: inherit;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: #F6F6F6;
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, #F1F1F1 1px, transparent 1px),
        linear-gradient(to bottom, #F1F1F1 1px, transparent 1px);

    transform: scale(1.0);
    transform-origin: 0% 0% 0px;

    // Zoom in
    #zoom-in {
        display: flex;
        width: 46px;
        height: 184px;
        position: fixed;
        top: 12px;
        right: 12px;
        z-index: 3;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(225, 230, 249, 0.6);
        cursor: pointer;
    }

    // All tables
    #container-tables {
        width: -webkit-fill-available;
        height: inherit;
        position: absolute;
        z-index: 5;
        
        // Chair
        .chair {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            
        }
        
        // Table row
        .container-table-1v1 {
            display: inline-block;
            position: relative;
            align-items: center;
    
            .table-1v1 {
                width: 38px;
                height: 38px;
                position: absolute;
                font-size: 14px;
                line-height: 38px;
                text-align: center;
            }

            .reserv-time-1v1 {
                width: 46px;
                height: 17px;
                font-size: 10px;
                line-height: 17px;
                text-align: center;
                position: absolute;
                top: 56px;
                left: -4px;
                border-radius: 4px;
            }

            // Save positons
            .save-position {
                display: flex;
                width: 15px;
                height: 15px;
                position: absolute;
                top: -15px;
                left: 38px;
                justify-content: center;
                align-items: center;
                line-height: 46px;
                border-radius: 4px;
                cursor: pointer;
                background-color: rgba(225, 230, 249, 0.6);
            }
        }
    
        .container-table-2v2-row {
            display: inline-block;
            position: relative;
            align-items: center;
    
            .table-2v2-row {
                width: 66px;
                height: 38px;
                position: absolute;
                font-size: 14px;
                line-height: 38px;
                text-align: center;
            }

            .reserv-time-2v2-row {
                width: 76px;
                height: 17px;
                font-size: 10px;
                line-height: 17px;
                text-align: center;
                position: absolute;
                top: 56px;
                left: -4px;
                border-radius: 4px;
            }

            // Save positons
            .save-position {
                display: flex;
                width: 15px;
                height: 15px;
                position: absolute;
                top: -15px;
                left: 76px;
                justify-content: center;
                align-items: center;
                line-height: 46px;
                border-radius: 4px;
                cursor: pointer;
                background-color: rgba(225, 230, 249, 0.6);
            }
        }
    
        .container-table-6v6 {
            display: inline-block;
            position: relative;
            align-items: center;
    
            .table-6v6 {
                width: 178px;
                height: 38px;
                position: absolute;
                font-size: 14px;
                line-height: 38px;
                text-align: center;
            }

            .reserv-time-6v6 {
                width: 188px;
                height: 17px;
                font-size: 10px;
                line-height: 17px;
                text-align: center;
                position: absolute;
                top: 56px;
                left: -4px;
                border-radius: 4px;
            }

            // Save positons
            .save-position {
                display: flex;
                width: 15px;
                height: 15px;
                position: absolute;
                top: -15px;
                left: 178px;
                justify-content: center;
                align-items: center;
                line-height: 46px;
                border-radius: 4px;
                cursor: pointer;
                background-color: rgba(225, 230, 249, 0.6);
            }
        }
    
        // Table column
        .container-table-2v2-column {
            display: inline-block;
            position: relative;
            align-items: center;
    
            .table-2v2-column {
                width: 38px;
                height: 66px;
                position: absolute;
                font-size: 14px;
                line-height: 66px;
                text-align: center;
            }

            .reserv-time-2v2-column {
                width: 48px;
                height: 17px;
                font-size: 10px;
                line-height: 17px;
                text-align: center;
                position: absolute;
                top: 76px;
                left: -4px;
                border-radius: 4px;
            }

            // Save positons
            .save-position {
                display: flex;
                width: 15px;
                height: 15px;
                position: absolute;
                top: -15px;
                left: 38px;
                justify-content: center;
                align-items: center;
                line-height: 46px;
                border-radius: 4px;
                cursor: pointer;
                background-color: rgba(225, 230, 249, 0.6);
            }
        }
    
        .container-table-3v3 {
            display: inline-block;
            position: relative;
            align-items: center;
    
            .table-3v3 {
                width: 38px;
                height: 94px;
                position: absolute;
                font-size: 14px;
                line-height: 94px;
                text-align: center;
            }

            .reserv-time-3v3 {
                width: 46px;
                height: 17px;
                font-size: 10px;
                line-height: 17px;
                text-align: center;
                position: absolute;
                top: 104px;
                left: -4px;
                border-radius: 4px;
            }

            // Save positons
            .save-position {
                display: flex;
                width: 15px;
                height: 15px;
                position: absolute;
                top: -15px;
                left: 38px;
                justify-content: center;
                align-items: center;
                line-height: 46px;
                border-radius: 4px;
                cursor: pointer;
                background-color: rgba(225, 230, 249, 0.6);
            }
        }
    
        .container-table-7v7 {
            display: inline-block;
            position: relative;
            align-items: center;
    
            .table-7v7 {
                width: 38px;
                height: 206px;
                position: absolute;
                font-size: 14px;
                line-height: 206px;
                text-align: center;
            }

            .reserv-time-7v7 {
                width: 48px;
                height: 17px;
                font-size: 10px;
                line-height: 17px;
                text-align: center;
                position: absolute;
                top: 216px;
                left: -4px;
                border-radius: 4px;
            }

            // Save positons
            .save-position {
                display: flex;
                width: 15px;
                height: 15px;
                position: absolute;
                top: -15px;
                left: 38px;
                justify-content: center;
                align-items: center;
                line-height: 46px;
                border-radius: 4px;
                cursor: pointer;
                background-color: rgba(225, 230, 249, 0.6);
            }
        }
    
        .container-circle-6 {
            display: inline-block;
            position: relative;
            align-items: center;
    
            .circle-6 {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                position: absolute;
                font-size: 14px;
                line-height: 48px;
                text-align: center;
            }

            .reserv-time-circle-6 {
                width: 56px;
                height: 17px;
                font-size: 10px;
                line-height: 17px;
                text-align: center;
                position: absolute;
                top: 68px;
                left: -4px;
                border-radius: 4px;
            }

            // Save positons
            .save-position {
                display: flex;
                width: 15px;
                height: 15px;
                position: absolute;
                top: -15px;
                left: 48px;
                justify-content: center;
                align-items: center;
                line-height: 46px;
                border-radius: 4px;
                cursor: pointer;
                background-color: rgba(225, 230, 249, 0.6);
            }
        }
    
        .container-circle-8 {
            display: inline-block;
            position: relative;
            align-items: center;
    
            .circle-8 {
                width: 55px;
                height: 55px;
                border-radius: 50%;
                position: absolute;
                font-size: 14px;
                line-height: 48px;
                text-align: center;
            }

            .reserv-time-circle-8 {
                width: 63px;
                height: 17px;
                font-size: 10px;
                line-height: 17px;
                text-align: center;
                position: absolute;
                top: 75px;
                left: -4px;
                border-radius: 4px;
            }

            // Save positons
            .save-position {
                display: flex;
                width: 15px;
                height: 15px;
                position: absolute;
                top: -15px;
                left: 55px;
                justify-content: center;
                align-items: center;
                line-height: 46px;
                border-radius: 4px;
                cursor: pointer;
                background-color: rgba(225, 230, 249, 0.6);
            }
        }
    
        .container-circle-14 {
            display: inline-block;
            position: relative;
            align-items: center;
    
            .circle-14 {
                width: 78px;
                height: 78px;
                border-radius: 50%;
                position: absolute;
                font-size: 14px;
                line-height: 74px;
                text-align: center;
            }

            .reserv-time-circle-14 {
                width: 86px;
                height: 17px;
                font-size: 10px;
                line-height: 17px;
                text-align: center;
                position: absolute;
                top: 98px;
                left: -4px;
                border-radius: 4px;
            }

            // Save positons
            .save-position {
                display: flex;
                width: 15px;
                height: 15px;
                position: absolute;
                top: -15px;
                left: 78px;
                justify-content: center;
                align-items: center;
                line-height: 46px;
                border-radius: 4px;
                cursor: pointer;
                background-color: rgba(225, 230, 249, 0.6);
            }
        }
    }

    //Table list
    #table-status-list {
        width: 46px;
        height: 46px;
        position: absolute;
        top: 12px;
        left: 10px;
        z-index: 6;
        background: rgba(225, 230, 249, 0.6);
        border-radius: 4px;
        text-align: center;
        line-height: 46px;
        cursor: pointer;
    }

    #container-list {
        display: flex;
        flex-direction: column;
        width: 153px;
        height: 461px;
        position: absolute;
        top: 52px;
        background-color: #fff;
        font-size: 12px;
        font-weight: 600;
        color: $primary_text;
        text-align: left;
        line-height: 32px;
        padding-top: 10px;

        .table-color {
            display: inline-block;
            width: 16px;
            height: 16px;
            position: relative;
            left: 5px;
            margin: 0 10px;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
        }

        .status-time {
            display: inline-block;
            width: 46px;
            height: 17px;
            position: relative;
            left: 5px;
            padding-top: 0;
            margin: 0 10px;
            font-size: 10px;
            text-align: center;
            line-height: 17px;
            border-radius: 4px;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
        }
    }


    // Transform configs
    .transform-component-module_wrapper__1_Fgj {
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        overflow: visible;

        .transform-component-module_content__2jYgh {
            transform: translate3d(0px, 0px, 0px) scale(1.346);
            width: -webkit-fill-available;
            height: -webkit-fill-available;
            overflow: visible;
        
        } 
    }
}