.header-main {
    display: block;
    // width: 960px;
    width: 100%;
    height: 54px;
    background: #F1F4F8;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    margin: 0 auto;
    color: #1B2A4E;

    #menu {
        position: absolute;
        left: 14px;
        top: 15px;
        cursor: pointer;
    }

    #container-time {
        position: absolute;
        top: 7px;
        right: 435px;

        @include respond(tab-port) {
            right: 280px;    
        }

        @include respond(phone) {
            right: 280px;    
        }

        @include hidden(_header) {
            right: 120px;
        }

        #custom-input {
            display: flex;
            width: 244px;
            height: 40px;
            justify-content: space-around;
            align-items: center;
            font-size: 15px;
            background-color: #fff;
            border: 1px solid rgba(0, 40, 100, 0.12);
        
            @include respond(phone) {
                width: 70px;
            }
        }
    }

    #nav {
        display: inline-block;
        width: 150px;
        height: 40px;
        position: absolute;
        top: 7px;
        right: 260px;
        background-color: #fff;

        @include respond(tab-port) {
            right: 120px;        
        }

        @include hidden(_header) {
            display: none;
        }

        // Hide arrow select
        .css-1hb7zxy-IndicatorsContainer {
            display: none;
        }

        #header-service-drop-down {
            position: absolute;
            top: 12px;
            left: 120px;
            cursor: pointer;
        }
    }

    #docu {
        position: absolute;
        top: 15px;
        right: 222px;
        cursor: pointer;

        @include respond(tab-port) {
            right: 82px;
        }

        // @include respond(tab-port) {
        //     display: none;
        // }
    }

    #container-profile {
        display: flex;
        width: 192px;
        height: 40px;
        justify-content: space-between;
        position: absolute;
        top: 7px;
        right: 10px;
        font-size: 18px;
        line-height: 40px;
        
        // @include respond(tab-port) {
        //     display: none;
        // }

        @include respond(tab-port) {
            width: 62px;
        }

        #container-avatar {
            display: inline-block;
            width: 62px;
            height: 40px;
            border: 1px solid $primary_text;
            border-radius: 45px;
        }
    }
}